
body{
  background-image: url("https://media.nationalgeographic.org/assets/photos/000/150/15034_c0-4-470-325_r380x260.jpg?d2c55b5d0a457923857ab5a0c480c24379300000");
  background-repeat: no-repeat;
  background-size: cover;
 
}



.container {
  margin-top: 1.2rem;
}

.container input,
.container ::-webkit-input-placeholder {
  color: white !important;
}
.container input:focus {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid tomato;
}

form {
  margin-top: 3rem;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}